<div class="container" style="margin-top: 50px; ">
    <div class="row">
        <div class="col-lg-6 col-md-10 mx-auto">
<mat-card class="my-card" style="padding: 10px;">
    <mat-card-header>
        <h1>Register</h1>
    </mat-card-header>
    <mat-card-content >
        <form class="my-form">
            <mat-form-field class="full-width">
                <mat-label>First name</mat-label>
                <input matInput placeholder="Enter name" name="fname" required="true">
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Last name</mat-label>
                <input matInput placeholder="Enter name" name="lname" required="true">
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Enter Your email" name="email" required="true">
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Enter Password" name="pass" required="true">
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button type="submit" color="primary">Register</button>
    </mat-card-actions>
</mat-card>
</div>