.my-form{
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.full-width{
    width: 100%;
}

/* .main-container{
    width: 80vw;
    height: 95vh;
    display: flex;
    align-items: center;
} */
