<div class="container" style="margin-top: 50px;">
    <div class="row">
        <div class="col-lg-6 col-md-10 mx-auto">
            <mat-card class="my-card container">
                <mat-card-header>
                    <h1 class="">Login</h1>
                </mat-card-header>
                <mat-card-content>
                    <form class="my-form">
                        <mat-form-field class="full-width">
                            <mat-label>Username</mat-label>
                            <input matInput placeholder="Enter username" name="user" required="true">
                        </mat-form-field>
                        <mat-form-field class="full-width">
                            <mat-label>Password</mat-label>
                            <input matInput placeholder="Password" name="pass" required="true">
                        </mat-form-field>
                    </form>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button type="submit" color="primary" style="margin-bottom: 15px;">login</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>