.my-form{
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.full-width{
    width: 100%;
}

.check{
    display: flex;
    justify-content: space-between;
}

.check a{
    color: black;
    text-decoration: none;
}

.check a:hover{
    color: blue;
}