<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="post-preview">
        <a href="">
          <h2 class="post-title">
            Computer Networks
          </h2>
          <h3 class="post-subtitle">
            Computer networks are essential in today's connected world. They allow devices to communicate with each other and share information, making it possible for people to work together and access resources from anywhere in the world.
          </h3>
        </a>
      </div>
    </div>
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="post-preview">
        <a href="">
          <h2 class="post-title">
            Internet Of Things(IOT)
          </h2>
          <h3 class="post-subtitle">
            The Internet of Things (IoT) is a term used to describe the interconnected network of devices, appliances, and machines that can communicate with each other using the internet.
          </h3>
        </a>
      </div>
    </div>
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="post-preview">
        <a href="">
          <h2 class="post-title">
            Data Science
          </h2>
          <h3 class="post-subtitle">
            Data Science is a rapidly growing field that has become increasingly important in recent years.
          </h3>
        </a>
      </div>
    </div>
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="post-preview">
        <a href="">
          <h2 class="post-title">
            Artificial Intelligence (AI)
          </h2>
          <h3 class="post-subtitle">
            Artificial Intelligence (AI) has become one of the most popular buzzwords in the tech industry.
          </h3>
        </a>
      </div>
    </div>
  </div>
</div>
